/*----------Component public styles:----------*/
/*前一项 后一项button*/
.tgp-slider .slide-btn-pre, .slide-btn-next{position:absolute;background: rgba(38, 54, 76, 0.20);overflow:hidden;top:50%;width:30px;height:78px;cursor: pointer;
    margin-top:-39px;z-index:10;text-align:center;outline: 1px solid rgba(255, 255, 255, 0.05);outline-offset: -1px; }
.tgp-slider .slide-btn-pre:hover, .slide-btn-next:hover{ background:rgba(38, 54, 76, 0.40);}
.tgp-slider .slide-btn-pre:before, .slide-btn-next:before{position:absolute; content:""; width:20px;height:20px; display:block; top:50%; margin-top:-10px;}
.tgp-slider .slide-btn-pre{left:1px;}
.tgp-slider .slide-btn-next{right:1px;}
.tgp-slider .slide-btn-pre:before{border-left:2px solid rgba(255,255,255,.3);border-bottom:2px solid rgba(255,255,255,.3);-webkit-transform:rotate(45deg);left:10px;}
.tgp-slider .slide-btn-next:before{border-right:2px solid rgba(255,255,255,.3);border-bottom:2px solid rgba(255,255,255,.3);-webkit-transform:rotate(-45deg);right:10px;}
.tgp-slider .slide-btn-pre:hover:before, .slide-btn-next:hover:before{border-color: rgba(255, 255, 255, 0.50);}
.tgp-slider .slide-btn-pre.disabled, .slide-btn-next.disabled{background:rgba(0, 0, 0, 0.2);}
.tgp-slider .slide-btn-pre.disabled:before, .slide-btn-next.disabled:before{opacity:0.5}

/*thumb缩略图*/
.tgp-slider .focusthumb-wp{position: relative; width:100%;height:33px;  margin:0 auto;margin-top:-33px; text-align: center;z-index:10;}
.tgp-slider .focusthumb{width:480px; background:rgba(0, 0, 0, 0.6);
    position:absolute;top:0;left:50%;margin-left:-240px;z-index:10;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;-webkit-box-pack:justify;}
.tgp-slider .focusthumb a{display:block;height:27px; width:92px;margin:3px; overflow: hidden;}
.tgp-slider .focusthumb a img{width:100%; height:100%;}
.tgp-slider .focusthumb .cur, .tgp-slider .focusthumb a:hover{outline:#fff solid 2px;outline-offset: -1px;}

/*thumb小圆点*/
.tgp-slider .thumb-dot{display:block; text-align:center; background: none; top:auto;bottom:5px;}
.tgp-slider .thumb-dot a{width: 8px; height: 8px;display:inline-block; line-height: 8px; border-radius: 50%; background-color: rgba(255,255,255,0.6); margin: 0 2px;}
.tgp-slider .thumb-dot a:hover{background-color: rgba(255,255,255,0.8);outline: none;outline-offset:0;}
.tgp-slider .thumb-dot a.cur { background-color: #fff; outline: none;outline-offset:0;}
.tgp-slider .thumb-dot a img,.tgp-slider .thumb-dot a span{display:none;}

/*thumb文字*/
.tgp-slider .thumb-txt{height:33px;line-height: 33px; background: rgba(0, 0, 0, 0.4);}
.tgp-slider .thumb-txt a{width:20%; line-height: 33px; height:33px;margin: 0 1px 0 0;background: rgba(0, 0, 0, 0.3); text-decoration: none;}
.tgp-slider .thumb-txt a:last-child{margin-right:0;}
.tgp-slider .thumb-txt a:hover{outline:none; outline-offset:0;background-color:#0095ff;}
.tgp-slider .thumb-txt a span{color:rgba(255,255,255,.5);white-space: nowrap; overflow: hidden; text-overflow: ellipsis;display: block;
    padding: 0 5px; font-size: 12px; text-align: center;}
.tgp-slider .thumb-txt a:hover span{color:rgba(255,255,255,.8)}
.tgp-slider .thumb-txt a.cur,.tgp-slider .thumb-txt a.cur:hover{ background-color:#0095ff;outline: none;outline-offset:0;}
.tgp-slider .thumb-txt a.cur span,.tgp-slider .thumb-txt a.cur:hover span{  color:#fff;}
.tgp-slider .thumb-txt a img{display:none;}
/*     .tgp-slider .thumb-txt a span{display:inline-block;}*/

/*轮播图*/
.tgp-slider {position: relative;overflow:hidden;height: 100%;width: 100%;}
.tgp-slider ul{padding:0;margin:0; list-style: none;left:0;top:0;position:relative;width:100%;height:100%;}
.tgp-slider ul.slider-viewport{position:relative;width:100%;height:100%;}
.tgp-slider li{padding:0;margin:0;text-align: center;vertical-align: top;position:absolute;}
.tgp-slider li.left-hider{z-index:1;transform:scale(.6) translate(-200%,0);}
.tgp-slider li.lefter{z-index:3;text-align:left;transform:scale(.8) translate(-80%,0);}
.tgp-slider li.current{z-index:5;transform:scale(1) translate(0,0);}
.tgp-slider li.righter{z-index:3;text-align: right;transform:scale(.8) translate(80%,0);}
.tgp-slider li.right-hider{z-index:1;transform:scale(.6) translate(200%,0);}
.tgp-slider .tgp-figure{display: inline-block; margin: 0 auto;border:none;vertical-align: top;font-size: 0;background-size: contain;background-position: 50% 50%;background-repeat:no-repeat;}
.tgp-slider .tgp-figure:before { box-shadow: none;}
.tgp-slider .tgp-figure img{width : 100%;}

/***  蒙层  ***/
.tgp-slider .righter .tgp-figure:after, .tgp-slider  .lefter .tgp-figure:after,.tgp-slider .right-hider .tgp-figure:after,.tgp-slider .left-hider .tgp-figure:after

{
    content: "";
    background: rgba(0, 0, 0, 0.60);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.tgp-slider .right-hider .tgp-figure:after,.tgp-slider .left-hider .tgp-figure:after{      background: rgba(0, 0, 0, 0.8);}